<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CatalogueLite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9387F7B1D2927FC00DACE07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9387F941D2927FC00DACE07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9387F9F1D2927FC00DACE07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
